<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header style="background-color:aliceblue;">
        <h2 style=" height: 90px; text-align:center; padding:20px;">My Library </h2>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="#footer">Contact Us</a>
                        <a class="nav-link" href="/register">Register</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <hr>
    <%- body %>
        <footer class="mt-4 p-5" id="footer">
            <h4>You can contact me:</h4>
            <p>Author: Group 2</p>
            <a href="">group2@gmail.com</a>
        </footer>
</body>

</html>