<p>Welcome to my Library!</p>
<p style="text-align:center">List of available book!</p>

<div class="container">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th rowspan="2">No.</th>
            <th rowspan="2">Book Cover</th>
            <th colspan="3">Detail</th>
            <th rowspan="2" colspan="2">Action</th>
        </tr>

        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>

        <% books.forEach((book, index)=> { %>
            <tr>
                <td style="text-align: center;">
                    <%= ++index %>
                </td>
                <td><img src="pic/<%= book.image %> " width="100" height="120"></td>
                <td>
                    <%= book.title %>
                </td>
                <td>
                    <%= book.desc %>
                </td>
                <td>Rp. <%= book.price %>
                </td>
                <td><a href="/buy" class="btn btn-success">Buy</a></td>
            </tr>
            <% }) %>
    </table>
</div>